@using PagedList
@using PagedList.Mvc


@model IPagedList<SampleApplication.Models.ProductModel>
@{
	int index = (ViewBag.Page - 1) * ViewBag.PageSize;
}


<h2>Index</h2>

<h4>Welcome to our Products Index page.</h4>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="d-flex justify-content-between align-items-center mb-3">
	<h4>Products List</h4>
	@Html.ActionLink("Add Product", "AddProduct", null, new { @class = "btn btn-success btn-sm" })
</div>

<table class="table table-bordered">
	<tr>
		<th>
			S/N
		</th>
		<th>
			Name
		</th>
		<th>
			Description
		</th>
		<th>
			Quantity
		</th>
		<th>
			Color
		</th>
		<th>
			Price
		</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var prod in Model)
	{
		<tr>
			@{
				index++;
			}
			<td>
				@index
			</td>
			<td>
				<a href="/Products/ProductDetails/@prod.Id">@prod.Name</a>
			</td>
			<td>
				@prod.Description
			</td>
			<td>
				@prod.Quantity
			</td>
			<td>
				@prod.Color
			</td>
			<td>
				&#x20A6; @prod.UnitPrice.ToString("N")
			</td>
			<td>
				<a href="/Products/Edit/@prod.Id">Edit</a>
			</td>
			<td>
				@using (Html.BeginForm("Delete", "Products", FormMethod.Post, new { id = "deleteForm" }))
				{
					@Html.AntiForgeryToken()
					@*@Html.HttpMethodOverride(HttpVerbs.Delete)*@
					@Html.Hidden("Id", prod.Id)

					<input type="submit" value="Delete" onclick="return confirmDelete();" class="btn btn-danger btn-xs" />
				}

				@*@Html.ActionLink("Delete","Delete", new {id = prod.Id}, new {onclick = "return confirm('Are you sure you really want to delete this product?');"})*@
			</td>
		</tr>
	}
</table>
<div class="pagination-container">
	<div class="pagination-controls">
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
	   DisplayLinkToFirstPage = PagedListDisplayMode.Always,
	   DisplayLinkToLastPage = PagedListDisplayMode.Always,
	   DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
	   DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
	   MaximumPageNumbersToDisplay = 5, // Adjust as needed
	   DisplayPageCountAndCurrentLocation = true,
	   DisplayItemSliceAndTotal = false,
	   LinkToFirstPageFormat = "<<",
	   LinkToLastPageFormat = ">>",
	   LinkToNextPageFormat = "→",
	   LinkToPreviousPageFormat = "←",
	   UlElementClasses = new[] { "pagination" },
	   LiElementClasses = new[] { "page-item" },
	   //PageClasses = new[] { "page-link" },
	   //CurrentElementWrapTag = new[] { "strong" },
	   //CurrentElementWrapTagClasses = new[] { "current" },
	  // ItemSliceAndTotalFormat = "Displaying items {0} through {1} of {2}.",
	   ContainerDivClasses = new[] { "pagination-container" }
		})
	</div>
</div>



<script>
	function confirmDelete() {
		if (confirm('Are you sure you really want to delete this product?')) {
			$.ajax({
				type: "POST",
				url: $("#deleteForm").attr("action"),
				data: $("#deleteForm").serialize(),
				success: function (response) {
					console.log("SUCCESS : ", data);
					window.location.href = data;
				},
				error: function (xhr, status, error) {

				}


			});

		}
		return false;
	}
</script>